{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="distance">
<h2></h2>
<!--jumbotron section-->
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><b>Hello,Welcome to E- SUGGESTIONS</b></h1>
      <p class="lead">Easy flow of discussions  and feedback from all stakeholders in your company or institution <br> for better and quality services</p>
      <hr class="my-4">
      <p>Improve your services know.</p>
    </div>
  </div>
</div>

<!--carousel section-->
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/images/suggestt.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/images/suggestt.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/images/suggesttt.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="col-sm-3"></div>
</div>
</div>

{% endblock %}