{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="content-section">
  <!-- Sign up form -->
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Register</legend>
      {{ form }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign up</button>
    </div>
  </form>
  <!-- Sign in form -->
  <div class="border-top pt-3">
    <p class="text-muted">
      Already have an account?
      <a class="ml-2" href="{% url 'login' %}">Sign in</a>
      <!-- Add login link -->
    </p>
  </div>
</div>
  </div>
  <div class="col-md-4"></div>
</div>
<
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Register</title>-->
<!--    <link rel="stylesheet" href="../../static/style/style.css">-->
<!--    <link rel="stylesheet" href="../../static/style/bootstrap/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="row">-->
<!--    <div class="col-sm-3"></div>-->
<!--    <div class="col-sm-6">-->
<!--        <div class="login-header"><h1>WELCOME,, MAKE YOUR SUGGESTIONS</h1></div>-->
<!--      <h3><center>Register Here!</center></h3>-->
<!--<form class="style">-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputPassword1" class="form-label">Password</label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword2">-->
<!--  </div>-->
<!--  <div class="mb-3 form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
<!--   <a href="{% url 'index' %}"><button type="submit" class="btn btn-success">Register </button></a>-->
<!--</form>-->
<!-- </div>-->
<!--    <div class="col-sm-3"></div>-->
<!--</div>-->
<!--</body>-->
{% endblock %}